@font-face {
    font-family: 'distant_galaxyregular';
    src: url('fonts/DISTGRG_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
@font-face {
    font-family: 'droid_sans_monoregular';
    src: url('fonts/DroidSansMono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }


body {
  margin: 0;
}

/*header css*/

/*logo css*/

header {
  background-color: black;
}

#logo {
  position: relative;
}

#logo h1{
  position: absolute;
  top: 45px;
  left: 550px;
  font-family: 'distant_galaxyregular';
  color: white;
  letter-spacing: .25rem;
}

#logo img {
  width: 100%;
}

/*nav css*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a7382e;
  display: flex;
  justify-content: space-around;

}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'droid_sans_monoregular';
  font-weight: bold;
}

li a:hover {
  background-color: black;
  color: #a7382e;
}


/*main css*/
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: black;
  color: white;
}

/*hero*/
#hero {
  position: relative;
  grid-column: 1/4;
  grid-row: 1/2;
}

/* #hero-title {
  background-color: rgba(255, 255, 255, .5);
  padding: 1rem;
} */

#hero-title h1{
  position: absolute;
  top: 400px;
  left: 50px;
  font-family: 'distant_galaxyregular';
  letter-spacing: .2rem;
}

#hero-title h3{
  font-family: 'droid_sans_monoregular';
  position: absolute;
  top: 440px;
  left: 50px;
  color: #a7382e ;
}

#hero img {
  width: 100%;
}

/*three columns*/
.intros {
  padding: 1rem;
  margin-top: 3rem;
  justify-content: center;
}

.intros h3 {
  font-family: 'distant_galaxyregular';
  color: white;
  letter-spacing: .2rem;
  text-align: center;
  padding-top: 1rem;
}

.intros p{
  font-family: 'droid_sans_monoregular';
  color: white;
  text-align: center;
  padding-top: .3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.intros img {
  display: block;
  width: 50%;
  padding: .15rem;
  background-color: white;
  margin: 0 auto;
}

/*gallery page styling*/

.gallery-item {
  text-decoration: none;
  color: black;
  font-family: 'distant_galaxyregular';
  font-size: x-large;
}

/* .gallery-item img:hover {
Add the text in to the page, then we can use CSS to hide the text box until the image is hovered over. 
   filter: blur(4px); 

} */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}
/*create three equal columns that sit next to each other*/
.column {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*responsive layout - makes a two column layout instead of three*/
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/*responsive layout - makes the columns stack on top of each other instead of next to each other*/
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



/*article page*/

.article-grid {
  font-family: 'droid_sans_monoregular';

}

.article-grid h1 {
  font-family: 'distant_galaxyregular';
  text-align: center;
  font-size: xx-large;
}

.article-grid p {
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-indent: 3rem;

}

.article-grid img {
  width: 100%;
}

.article-grid ol {
  text-decoration: none;
}

.darksaber-list {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/*contact us page*/

.container label {
  font-family: 'distant_galaxyregular';
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: 'droid_sans_monoregular';
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #a7382e;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'droid_sans_monoregular';
  font-weight: bold;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  color: #a7382e;
  background-color: black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



/*footer*/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'distant_galaxyregular';
  letter-spacing: .1rem;
  padding: 1rem;
  background-color: #6C2620;
}

#site-plan-link {
  text-decoration: none;
  color: black;
  padding-top: 1.3rem;
}

.social {
  grid-column: -1;
}

